<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Model.Properties.Settings.DB_A57250_F20ES7769ConnectionString"
            connectionString="Data Source=SQL5097.site4now.net;Initial Catalog=DB_A57250_F20ES7769;Persist Security Info=True;User ID=DB_A57250_F20ES7769_admin;Password=ztqjSY5F"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>